body{
    margin: 20px;
}
.avatar{
    width: 150px;
}
.card{
    margin-right: auto;
    margin-left: auto;
    width: 600px;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-bottom:7px solid #d8cefe;
    background-color:antiquewhite;
    color: #2b2839;
    
}

.utility{
    border: 1px dotted blue;
    
}